
.content{
  text-align: left;
  padding: 30px;
  text-indent: 40px;
  display: inline-block;
  max-width: 768px;
}
.center{
  text-align: center;
}
 .accept{
  display: inline-block;
  padding: 10px 30px;
   background: forestgreen;
   color: white;
   border-radius: 15px;
   border-color:transparent;
}
pre{
  background: #cccccc;
  padding: 20px;
}
